<h2>Login</h2>
<form novalidate #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <label>
        <input type="text"
                placeholder="Login" 
                name="login" 
                required
                [ngModel]="user.login">
        <div class="error" *ngIf="f.controls.login?.touched && f.controls.login?.invalid">
            Login is required
        </div>
    </label>
    <label>
        <input type="password"
                placeholder="Password" 
                name="password" 
                required
                [ngModel]="user.password">
         <div class="error" *ngIf="f.controls.password?.touched && f.controls.password?.invalid">
            Password is required
        </div>
    </label>

    <button type="submit" [disabled]="f.invalid">Log In</button>
    <button id="google-custom-button">Log in with Google</button>
</form>

