@import "mixins";

ct-chat-holder {
	flex-grow: 1;
	overflow: auto; 
	width: 60%;

	@media screen and (max-width: 600px) {
    	width: 0;
	}
	
	@media screen and (min-width: 601px) and (max-width: 800px) {
		width: 50%;
	}
}
	
ct-chat-detail {
	@extend ct-chat-holder;
	@include display-flex (column);	
}

ct-chat-new {
	@extend ct-chat-holder;
}