<header>
     <div class="arrow-icon" (click)="toggleClosedState()">
       <div class="arrow-image"></div>
    </div>

    <form class="search-field">
        <input type="text" placeholder="Search">
    </form>

    <div class="sandwich-icon"></div>
</header>

<ul>
  <li *ngFor = 'let chat of chats | async |filterByName: "Chat"' (click)="select({id:chat.id})">
    <div class="photo"></div>
    <div class="chat-info">
      <p class="chat-name">{{chat.name}}</p>
      <p>last message</p>
    </div>
    <div class="timer">1m</div>
  </li>

</ul>